/* src/todoapp/components/TodoList.css */

.todo-app {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 95%;
  margin-inline: auto;
  margin-top: 5rem;
  padding: 10px;
  box-sizing: border-box;
}
.todo-list ul {
  list-style-type: none;
  padding: 0;
}
.todo-list-title {
  margin-block: 2rem;
}
