.App-header {
  padding: 4rem;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 10px; /* Add margin at the bottom to separate from suggestions */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add margin at the top to separate from input field */
}

button:hover {
  background-color: #0056b3;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  padding-top: 20px; /* Add padding at the top to separate from suggestions */
}

.movie-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.movie-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333; /* Change title color to make it readable */
}

.movie-card p {
  font-size: 14px;
  color: #777;
}

.movie-card .rating {
  font-size: 16px;
  font-weight: bold;
  color: #ff9800; /* Highlighted color for rating */
  margin: 10px 0;
}

.movie-card:has(.rating) {
  border-color: #ff9800; /* Change border color if movie has a rating */
}

.movie-card button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

/* Styles for suggestions list */
.suggestions-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add margin at the bottom to separate from movie grid */
}

.suggestions-list {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 10;
  padding: 0;
  list-style: none;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  color: royalblue;
  border-bottom: 1px solid rgba(65, 105, 225, 0.257);
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover,
.suggestions-list li:focus {
  background-color: #f0f0f0;
}
